.u-margin-bottom-big {
  margin-bottom: 4rem !important; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #2f333e; }

.heading-primary {
  color: #fff;
  font-size: 10rem;
  font-weight: 700; }

.heading-secondary {
  font-weight: 300;
  font-size: 4.5rem; }

.heading-tertiary {
  font-size: 2.5rem;
  margin-bottom: 1rem; }

.paragraph {
  font-weight: 500;
  line-height: 1.5; }

.illustration {
  content: "";
  display: block;
  clear: both;
  height: 33rem;
  padding: 0 1rem; }
  .illustration__picture {
    width: 33.333333%;
    float: left; }
  .illustration__description {
    float: left;
    text-align: right;
    width: 66.666666%; }
    .illustration__description.second {
      text-align: left; }

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("../../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  clip-path: ellipse(100vw 63vh at 50% 30%); }
  .header__text-box {
    position: absolute;
    top: 35%;
    left: 20%; }
  .header__icon-box {
    color: white;
    font-size: 3.5rem;
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 1.5rem 2rem;
    transform: translateX(-50%); }
    .header__icon-box i {
      transition: all 0.5s; }
    .header__icon-box:hover i {
      opacity: 0.4;
      transform: translateY(3rem); }

.navigation {
  position: absolute;
  padding: 2rem;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 130rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500; }
  .navigation__logo {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    outline: 2px solid white;
    outline-offset: 4px; }
  .navigation__list {
    flex-direction: row;
    list-style-type: none; }
  .navigation__item {
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: all 0.6s; }
    .navigation__item:hover:not(:last-child) {
      border-color: #f3ad2c; }
    .navigation__item:not(:last-child) {
      margin-right: 2rem; }
    .navigation__item a,
    .navigation__item a:link,
    .navigation__item a:active {
      font-weight: 500;
      font-size: 1.6rem;
      color: white;
      text-decoration: none; }
    .navigation__item--cta {
      padding: 1rem 2rem;
      transition: transform 0.3s;
      background: #f3ad2c;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
      cursor: pointer; }
      .navigation__item--cta:hover {
        transform: scale(1.2); }
      .navigation__item--cta a,
      .navigation__item--cta a:link,
      .navigation__item--cta a:active {
        color: #000; }

.row {
  max-width: 120rem;
  margin: 0 auto;
  content: "";
  display: block;
  clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row div[class*=".col"] {
    float: left; }
    .row div[class*=".col"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-about {
  padding: 10rem 0; }

.section-infographics {
  padding: 10rem 0; }
