.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg,
        rgba($color-black, 1) 0%, 
        rgba($color-black, 0.8) 30%,
        rgba($color-black, 0.6) 100%
        ), url("../../img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: ellipse(100vw 63vh at 50% 30%);

    @include respond(tab-port) {
        background-attachment: unset;
    }

    &__text-box {
        position: absolute;
        top: 35%;
        left: 20%;
        

        @include respond(tab-land) {
            left: 10%;
            padding: 0 0 0 2%;
        }

        @include respond(tab-port) {
            @include absoluteCenter;
            width: 100%;
            padding: 0 2% 0 10%;
        }
    }

    &__icon-box {
        color: white;
        font-size: 3.5rem;
        position: absolute;
        top: 80%;
        left: 50%;
        padding: 1.5rem 2rem;
        transform: translateX(-50%);

        & i {
            transition: all 0.5s;
        }

        &:hover i {
            opacity: 0.4;
            transform: translateY(3rem);
        }
    }
}
