.navigation {
    position: absolute;
    padding: 2rem;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: $nav-width;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    z-index: 500; 

    &__logo {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 1rem;
        text-align: center;
    }
    
    &__list {
        flex-direction: row;
        list-style-type: none;
    }

    &__item {
        display: inline-block;
        border-bottom: 2px solid transparent;
        transition: all 0.6s;

        &:hover:not(:last-child) {
            border-color: $color-primary;
        }

        &:not(:last-child) {
            margin-right: 2rem;
        }

        & a,
        & a:link, 
        & a:active {
            font-weight: 500;
            font-size: 1.6rem;
            color: white;
            text-decoration: none;
        }

        &--cta {
            padding: 1rem 2rem;
            transition: transform 0.3s;
            background: $color-primary;
            // box-shadow to fix issue with trailing pixels when scaling up and down
            box-shadow: 0 0 1px rgba($color-black, 0.05);
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }

            & a,
            & a:link,
            & a:active {
                color: $color-black;
            }
        }
    }
}