.navigation {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    width: 100%;
    max-width: $nav-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    @include respond(tab-port) {
        top: 0;
        flex-direction: column;
        align-items: flex-start;
        height: 8vh;
        background-color: rgba($color-black, 0.2);
    }

    &__logo-picture {
        width: 18rem;
    }

    &__input {
        display: none;
    }

    &__navBurger {
        color: white;
        font-size: 4rem;
        position: absolute;
        top: 0.5rem;
        right: 2rem;
        z-index: 200;
        display: none;

        @include respond(tab-port) {
            display: block;
            backdrop-filter: blur(1rem);
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        transition: all 0.3s;

        @include respond(tab-port) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            transform: translateX(-100vw);
            position: fixed;
            top: 8vh;
            left: 0;
            height: 92vh;
            width: 100vw;
            background-color: rgba($color-black, 0.3);
            backdrop-filter: blur(1rem);
        }
    }

    &__input:checked ~ &__list {
        transform: translateX(0);
    }

    &__item {
        border-bottom: 2px solid transparent;
        transition: all 0.6s;
        text-align: center;

        @include respond(tab-port) {
            flex-direction: column;
            padding: 2rem 0;
            width: 100vw;
        }

        &:hover {
            border-color: $color-primary;

            @include respond(tab-port) {
                border: none;
            }
        }

        &:not(:last-child) {
            margin-right: 2rem;

            @include respond(tab-port) {
                margin-right: 0;
            }
        }

        &:active {
            @include respond(tab-port) {
                background-color: $color-white;
            }
        }

        & a,
        & a:link,
        & a:active {
            font-weight: 500;
            font-size: 2rem;
            color: white;
            text-decoration: none;

            @include respond(tab-port) {
                font-size: 2.5rem;
            }
        }
    }
}
