.illustration {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
        flex-direction: column;
    }
    
    &__picture {
        width: 33.333333%;

        @include respond(tab-port) {
            margin-bottom: 3rem;
        }

        @include respond(phone) {
            width: 40%;
        }
    }

    &__description {
        text-align: right;
        width: 66.666666%;

        @include respond(tab-port) {
            text-align: center;
        }

        @include respond(phone) {
            width: 80%;
        }

        &.second {
            text-align: left;
            order: -1;

            @include respond(tab-port) {
                order: 0;
                text-align: center;
            }
        }
    }
}
