body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-grey;
}

.heading-primary {
    color: $color-white;
    font-size: 10rem;
    font-weight: 700;
}