body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-grey;
}

.heading-primary {
    color: $color-white;
    font-size: 10rem;
    font-weight: 700;
}

.heading-secondary {
    font-weight: 300;
    font-size: 4.5rem;
}

.heading-tertiary {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.paragraph {
    font-weight: 500;
    line-height: 1.5;
}